*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  
  body { margin: 0; }
  
  .columnsContainer, footer, header { position: relative; margin: .5em; }
  
  .leftColumn, .rightColumn, footer, header {  border: 1px solid  #ccc; padding: 1.25em; }
  
  .leftColumn { margin-bottom: .5em;}
  .rightColumn {background-color: #808080; text-align: center;}

  .columnsContainer{
    height: 90%;
  }
  
  .nav {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .nav > li,
  .nav > li > a {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  
  .inline-items {
    margin-top: 0;
  }
  
  .inline-items li {
    margin-left: 0;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .inline-items li:first-child {
    margin-left: 0;
    border: none;
    padding-left: 0;
    padding-right: 10px;
  }
  
  .inline-items li:last-child {
    padding-right: 0;
  }
  .container {
    position: relative;
    max-width: 650px;
    margin: 0px auto;
    margin-top: 50px;
  }
  
  .comment {
    float: left;
    width: 100%;
    height: 100%;
  }
   
  .comment-text-area {
    float: left;
    width: 100%;
    height: 100%;
  }
  
  .textinput {
    float:left;
    width: 80%;
    height: 100%;
    outline: none;
    resize: none;
    border: 1px solid #f0f0f0;
  }

.fixed-bottom {
  border: 1px solid #ccc; 
  color: black;
  height: 10%; 
  margin-right: 20em; 
  margin-left: .5em; 
  margin-bottom: .5em;
}

.hoverDiv{
  cursor: pointer;
}

  /* MEDIA QUERIES */
  @media screen and (min-width: 47.5em ) {
    .leftColumn { margin-right: 19.5em; height: 90%; overflow-y: scroll;}
  
    .rightColumn { position: absolute; top: 0; right: 0; width: 18.75em; height: 102.5%; overflow-y: scroll;}   
  }

  @media screen and (max-width: 47.5em ) {
    .leftColumn { height: 90%; overflow-y: scroll;}
  
    .rightColumn {height: 102.5%; overflow-y: scroll;}   

    .fixed-bottom {
      border: 1px solid #ccc; 
      color: black;
      height: 10%; 
      width: 100%;
      margin-right: .5em; 
      margin-left: .5em; 
      margin-bottom: .5em;
    }
  }